<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Classification App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">BBC News Text Classification App</h2>
        <form action="/predict" method="POST">
            <div class="form-group">
                <label for="text-input">Enter Text:</label>
                <textarea class="form-control" id="text-input" name="text" rows="4" placeholder="Enter your text here..." required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Predict Category</button>
        </form>
    </div>
</body>
</html>